*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{

    width: 100%;
    height: 100px;
    background-image: url('MaratonaExplorer.png');
    background-size: cover;
    background-position: center;
}
body{

    background-color: black;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    font-family:sans-serif;
}
#conteiner{
    width:80%;
    max-width: 400px;
    margin-inline: auto;
}
img{
    margin-bottom: 40px;
}
h1{
    font-size:40px;
    color: #fff;
    opacity: 0.9;
    text-transform: uppercase;
    margin-bottom: 10px;

}
p{
    margin-bottom: 40px;
    opacity: 0.7;

}
input, button{
    display: block;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    font-size:20px;

}
input{
    margin-bottom: 20px;
}
button{
    background-color: blueviolet;
    color: #fff;
    transition: filter .2s;
    border: 0;
    cursor: pointer;
}
button:hover{

    filter: brightness(1.2);
}
@media(max-width: 363px){

    h1{
        font-size: 30px;
    }
    p{
        font-size: 15px;
    }
    input, button{

        padding: 15px;
    }
}
div{

    margin-top: 10px;
    margin-bottom: 10px;
    transition:opacity 1s;
}
